<div class="navbar">
	<div class="navbar-inner">
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		<div class="nav-collapse collapse">
			<ul class="nav">
				<li class="home active"><a href="#home">Home</a></li>
				<li class="about"><a href="#about">About</a></li>
				<li class="blog"><a href="#blog">Blog</a></li>
				<!--li class="projects"><a href="#projects">Projects</a></li>
				<li class="experiments"><a href="#experiments">Experiments</a></li>
				<li class="publications"><a href="#publications">Publications</a></li-->
				<li class="github"><a href="https://github.com/davps/">Github</a></li>
			</ul>
		</div>
	</div>
</div>
