# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore static files that contain some data that will be stored in the database
/public/app/img/
/public/app/js/templates/AboutTemplate.html